*{
margin:0;
padding:0;
box-sizing:border-box;
}


body {
    background: white;
    color: black;
}



font-family:Inter,sans-serif;

line-height:1.7;

}

nav{

position:fixed;

width:100%;

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 60px;

background:rgba(255,255,255,.8);

backdrop-filter:blur(8px);

z-index:999;

}

.logo{

height:900px;

}
.title-logo {
    width: 900px;
    max-width: 95vw;
    height: auto;
}


nav ul{

display:flex;

list-style:none;

gap:40px;

}

nav a{

color:black;

text-decoration:none;

font-weight:600;

transition:.3s;

}

nav a:hover{

color:#b8860b;

}

.hero{

height:100vh;

background:white;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

}

.overlay {
    background: transparent;
    padding: 0;
    width: auto;
}


.hero h1{

font-family:Cinzel,serif;

font-size:70px;

letter-spacing:4px;

margin-bottom:20px;

}

.hero p{

font-size:22px;

margin-bottom:40px;

}

.button{

padding:16px 40px;

background:#b8860b;

color:white;

text-decoration:none;

border-radius:6px;

font-weight:bold;

transition:.3s;

}

.button:hover{

background:white;

color:black;

}

section{

max-width:1100px;

margin:auto;

padding:120px 30px;

}

h2{

font-family:Cinzel;

font-size:42px;

margin-bottom:40px;

color:#b8860b;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:30px;

margin-top:40px;

}

.card{
background:#f2f2f2;
}

padding:30px;

border-left:5px solid #b8860b;

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

footer{

text-align:center;

padding:50px;

{
background:white;
}
;

margin-top:100px;

}

.hero {
height:100vh;
background:white;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.title-logo {
width:700px;
max-width:80%;
height:auto;
}

.menu-icon {
    position: fixed;
    top: 30px;
    right: 40px;
    font-size: 40px;
    cursor: pointer;
    z-index: 1000;
    color: #b8860b;
}


.dropdown {
    display: none;
    position: fixed;
    top: 85px;
    right: 40px;
    background: rgba(0,0,0,0.9);
    padding: 30px;
    border: 1px solid #b8860b;
    border-radius: 8px;
    z-index: 999;
    min-width: 220px;
}


.dropdown a {
    display: block;
    color: #b8860b;
    text-decoration: none;
    font-family: Cinzel, serif;
    font-size: 18px;
    padding: 12px 0;
    transition: .3s;
}


.dropdown a:hover {
    color: white;
    padding-left: 10px;
}
.overlay {
    background: none !important;
    padding: 0 !important;
}

